{% extends "base.html" %}

{% block content %}
<!-- BEGIN PAGE HEADER-->
<!-- BEGIN PAGE TITLE-->
<h3 class="page-title"> Akses Halaman Biro
</h3>
<!-- END PAGE TITLE-->
<!-- BEGIN PAGE BAR -->
<div class="page-bar">
    <ul class="page-breadcrumb">
        <li>
            <a href="{% url 'dashboard_index' %}">Home</a>
            <i class="fa fa-angle-right"></i>
        </li>
        <li>
            <span>Akses Halaman Biro</span>
        </li>
    </ul>
</div>
<!-- END PAGE BAR -->
<!-- END PAGE HEADER-->

<div class="row">
    <div class="col-md-12">
        <div class="portlet box green">
            <div class="portlet-title">
                <div class="caption">
                    &nbsp; </div>
                <div class="tools">
                    <a href="javascript:;" class="collapse" data-original-title="" title=""> </a>
                </div>
            </div>
            <div class="portlet-body form">
                <!-- BEGIN FORM-->
                <form id="akses_halaman_biro" action="{% url 'akses_halaman_biro' %}" class="form-horizontal" method="GET">
                    <div class="form-body">
                        <div class="alert alert-danger display-hide">
                            <button class="close" data-close="alert"></button> You have some form errors. Please check below. </div>
                        <div class="alert alert-success display-hide">
                            <button class="close" data-close="alert"></button> Your form validation is successful! </div>

                        <div class="form-group">
                            <label class="col-md-3 control-label">Tanggal Mulai</label>
                            <div class="col-md-4">
                                <div class="input-group date date-picker" data-date-format="dd-mm-yyyy">
                                    <input type="text" class="form-control" id="start_date" readonly="" name="start_date" {% if start_date %}value="{{ start_date }}" {% endif %}>
                                    <span class="input-group-btn">
                                        <button class="btn default" type="button">
                                            <i class="fa fa-calendar"></i>
                                        </button>
                                    </span>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-3 control-label">Tanggal Berakhir</label>
                            <div class="col-md-4">
                                <div class="input-group date date-picker" data-date-format="dd-mm-yyyy">
                                    <input type="text" class="form-control" id="end_date" readonly="" name="end_date" {% if end_date %}value="{{ end_date }}" {% endif %}>
                                    <span class="input-group-btn">
                                        <button class="btn default" type="button">
                                            <i class="fa fa-calendar"></i>
                                        </button>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-actions">
                        <div class="row">
                            <div class="col-md-offset-3 col-md-9">
                                <button type="submit" class="btn btn-circle green">Submit</button>
                                <!-- <a href="{% url 'member_biro' %}" class="btn btn-circle grey-salsa btn-outline">Cancel</a> -->
                            </div>
                        </div>
                    </div>
                </form>
                <!-- END FORM-->
            </div>
        </div>
    </div>
</div>

<div class="row" id="chart_biro" {% if start_date and end_date %}style="display: block;"{% else %}style="display: none;"{% endif %}>
    <div class="col-md-12">
        <!-- BEGIN ROW -->
        <div class="row">
            <div class="col-md-12">
                <!-- BEGIN CHART PORTLET-->
                <div class="portlet light bordered">
                    <div class="portlet-title">
                        <div class="caption">
                            <i class="icon-bar-chart font-green-haze"></i>
                            <span class="caption-subject bold uppercase font-green-haze"> Akses Halaman Biro</span>
                        </div>
                    </div>
                    <div class="portlet-body">
                        <div id="menu_akses_biro" class="chart" style="height: 500px;"> </div>
                    </div>
                </div>
                <!-- END CHART PORTLET-->
            </div>
        </div>
        <!-- END ROW -->
        <!-- BEGIN ROW -->
        <div class="row">
            <div class="col-md-12">
                <!-- BEGIN CHART PORTLET-->
                <div class="portlet light bordered">
                    <div class="portlet-title">
                        <div class="caption">
                            <i class="icon-bar-chart font-green-haze"></i>
                            <span class="caption-subject bold uppercase font-green-haze"> Detail Akses Halaman Biro</span>
                        </div>
                    </div>
                    <div class="portlet-body">
                        <table class="table table-striped table-bordered table-hover order-column" id="withoutCheckbox">
                            <thead>
                                <tr>
                                    <th> Nama Pengunjung </th>
                                    <th> Lokasi </th>
                                    <th> Tanggal Akses</th>
                                    <!-- <th> Lihat Detail </th> -->
                                </tr>
                            </thead>
                            <tbody>
                                {% for cp in detail_access_agents %}
                                <tr class="odd gradeX">
                                    <td>{{ cp.web_user_name }}</td>
                                    <td>{{ cp.web_user_location }}</td>
                                    <td>{{ cp.created_at|date:"d M Y" }}</td>
                                    <!-- <td>
                                        <a class="btn btn-xs btn-info" href="javascript:;">
                                            <i class="ace-icon fa fa-eye bigger-120"></i>
                                        </a>
                                    </td> -->
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
                <!-- END CHART PORTLET-->
            </div>
        </div>
        <!-- END ROW -->
    </div>
</div>

{% endblock %}

{% block js %}
<script type="text/javascript">
    $(document).ready(function(){
        var chart_access_agents = {{ chart_access_agents|safe }}
        var chart3 = AmCharts.makeChart("menu_akses_biro", {
            "type": "serial",
            "theme": "light",

            "fontFamily": 'Open Sans',            
            "color":    '#888888',
            
            "pathToImages": "/media/metronic/global/plugins/amcharts/amcharts/images/",

            "dataProvider": chart_access_agents,
            "balloon": {
                "cornerRadius": 6
            },
            "valueAxes": [{
                "position": "left"
            }],
            "startDuration": 1,
            "graphs": [{
                "bullet": "square",
                "bulletBorderAlpha": 1,
                "bulletBorderThickness": 1,
                "fillAlphas": 0.3,
                "fillColorsField": "lineColor",
                "legendValueText": "[[value]]",
                "lineColorField": "lineColor",
                "title": "duration",
                "valueField": "duration"
            }],
            "chartScrollbar": {},
            "chartCursor": {
                "categoryBalloonDateFormat": "YYYY MMM DD",
                "cursorAlpha": 0,
                "zoomable": false
            },
            "dataDateFormat": "YYYY-MM-DD",
            "categoryField": "date"
        });

        $('#menu_akses_biro').closest('.portlet').find('.fullscreen').click(function() {
            chart3.invalidateSize();
        });

    })
</script>
{% endblock %}
