<!DOCTYPE html>
<html lang="en">
    <!-- BEGIN HEAD -->
    <head>
        <meta charset="utf-8" />
        <title>Management Member Biro Admin</title>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta content="width=device-width, initial-scale=1" name="viewport" />
        <meta content="" name="description" />
        <meta content="" name="author" />
        <!-- BEGIN GLOBAL MANDATORY STYLES -->
        <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&subset=all" rel="stylesheet" type="text/css" />
        <link href="{{ MEDIA_URL }}metronic/global/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
        <link href="{{ MEDIA_URL }}metronic/global/plugins/simple-line-icons/simple-line-icons.min.css" rel="stylesheet" type="text/css" />
        <link href="{{ MEDIA_URL }}metronic/global/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
        <link href="{{ MEDIA_URL }}metronic/global/plugins/uniform/css/uniform.default.css" rel="stylesheet" type="text/css" />
        <link href="{{ MEDIA_URL }}metronic/global/plugins/bootstrap-switch/css/bootstrap-switch.min.css" rel="stylesheet" type="text/css" />
        <!-- END GLOBAL MANDATORY STYLES -->
        <!-- BEGIN PAGE LEVEL PLUGINS -->
        <link href="{{ MEDIA_URL }}metronic/global/plugins/select2/css/select2.min.css" rel="stylesheet" type="text/css" />
        <link href="{{ MEDIA_URL }}metronic/global/plugins/select2/css/select2-bootstrap.min.css" rel="stylesheet" type="text/css" />
        <link href="{{ MEDIA_URL }}metronic/global/plugins/bootstrap-datepicker/css/bootstrap-datepicker3.min.css" rel="stylesheet" type="text/css" />
        <link href="{{ MEDIA_URL }}metronic/global/plugins/bootstrap-daterangepicker/daterangepicker.min.css" rel="stylesheet" type="text/css" />
        <link href="{{ MEDIA_URL }}metronic/global/plugins/morris/morris.css" rel="stylesheet" type="text/css" />
        <link href="{{ MEDIA_URL }}metronic/global/plugins/dropzone/dropzone.min.css" rel="stylesheet" type="text/css" />
        <link href="{{ MEDIA_URL }}metronic/global/plugins/dropzone/basic.min.css" rel="stylesheet" type="text/css" />
        <link href="{{ MEDIA_URL }}metronic/pages/css/profile.css" rel="stylesheet" type="text/css" />
        <link href="{{ MEDIA_URL }}metronic/global/plugins/bootstrap-wysihtml5/bootstrap-wysihtml5.css" rel="stylesheet" type="text/css" />
        <!-- END PAGE LEVEL PLUGINS -->
        <!-- BEGIN THEME GLOBAL STYLES -->
        <link href="{{ MEDIA_URL }}metronic/global/plugins/bootstrap-select/css/bootstrap-select.min.css" rel="stylesheet" type="text/css" />
        <link href="{{ MEDIA_URL }}metronic/global/plugins/datatables/datatables.min.css" rel="stylesheet" type="text/css" />
        <link href="{{ MEDIA_URL }}metronic/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.css" rel="stylesheet" type="text/css" />
        <link href="{{ MEDIA_URL }}metronic/pages/css/profile-2.min.css" rel="stylesheet" type="text/css" />
        <link href="{{ MEDIA_URL }}metronic/global/css/components.min.css" rel="stylesheet" id="style_components" type="text/css" />
        <link href="{{ MEDIA_URL }}metronic/global/css/plugins.min.css" rel="stylesheet" type="text/css" />
        <!-- END THEME GLOBAL STYLES -->
        <!-- BEGIN THEME LAYOUT STYLES -->
        <link href="{{ MEDIA_URL }}metronic/layouts/layout/css/layout.css" rel="stylesheet" type="text/css" />
        <link href="{{ MEDIA_URL }}metronic/layouts/layout/css/themes/darkblue.min.css" rel="stylesheet" type="text/css" id="style_color" />
        <link href="{{ MEDIA_URL }}metronic/layouts/layout/css/custom.min.css" rel="stylesheet" type="text/css" />
        <!-- END THEME LAYOUT STYLES -->
        <link rel="shortcut icon" href="{{ MEDIA_URL }}img/favicon/favicon.ico" />

        <style type="text/css">

            .page-sidebar-closed.page-sidebar-closed-hide-logo .page-header.navbar .page-logo a {
                display: none;
            }

            .page-logo a {
                font-size: 16px;
                color: #ffffff;
                margin-top: 10px;
            }

            .page-logo a:hover {
                text-decoration: none;
                color: #ffffff;
            }
        </style>

        {% block css %}{% endblock %}

    </head>
    <!-- END HEAD -->

    <body class="page-header-fixed page-sidebar-closed-hide-logo">
        <!-- BEGIN HEADER -->
        <div class="page-header navbar navbar-fixed-top">
            <!-- BEGIN HEADER INNER -->
            <div class="page-header-inner ">
                <!-- BEGIN LOGO -->
                <div class="page-logo">
                    <a href="/" style="margin-top: 3px;">
                        <img src="{{ MEDIA_URL }}/images/ikhram.png" alt="Logo Ikhram" style="width: 120px;">
                    </a>
                    <!-- <a href="/">
                        <i class="fa fa-leaf "></i> AGWA Board App Admin
                    </a> -->
                    <div class="menu-toggler sidebar-toggler"> </div>
                </div>
                <!-- END LOGO -->
                <!-- BEGIN RESPONSIVE MENU TOGGLER -->
                <a href="javascript:;" class="menu-toggler responsive-toggler" data-toggle="collapse" data-target=".navbar-collapse"> </a>
                <!-- END RESPONSIVE MENU TOGGLER -->
                <!-- BEGIN TOP NAVIGATION MENU -->
                <div class="top-menu">
                    <ul class="nav navbar-nav pull-right">                        <!-- BEGIN USER LOGIN DROPDOWN -->
                        <!-- DOC: Apply "dropdown-dark" class after below "dropdown-extended" to change the dropdown styte -->
                        <li class="dropdown dropdown-user">
                            <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
                                <!-- <img alt="{{ user.get_name }}s Photo" class="img-circle" src="{{ user.get_avatar_url }}" /> -->
                                <span class="username username-hide-on-mobile"> {{ request.user.username }} </span>
                                <i class="fa fa-angle-down"></i>
                            </a>
                            <ul class="dropdown-menu dropdown-menu-default">
                                {% if not request.user.is_staff %}
                                <li>
                                    <a href="{% url 'profile' %}">
                                        <i class="icon-user"></i> My Profile
                                    </a>
                                </li>
                                <li class="divider"> </li>
                                {% endif %}
                                <li>
                                    <a href="{% url 'logout' %}">
                                        <i class="icon-key"></i> Log Out </a>
                                </li>
                            </ul>
                        </li>
                        <!-- END USER LOGIN DROPDOWN -->
                    </ul>
                </div>
                <!-- END TOP NAVIGATION MENU -->
            </div>
            <!-- END HEADER INNER -->
        </div>
        <!-- END HEADER -->
        <!-- BEGIN HEADER & CONTENT DIVIDER -->
        <div class="clearfix"> </div>
        <!-- END HEADER & CONTENT DIVIDER -->
        <!-- BEGIN CONTAINER -->
        <div class="page-container">
            <!-- BEGIN SIDEBAR -->
            <div class="page-sidebar-wrapper">
                {% block menu %}
                {% include 'menu_metronic.html' %}
                {% endblock %}
            </div>
            <!-- END SIDEBAR -->
            <!-- BEGIN CONTENT -->
            <div class="page-content-wrapper">
                <!-- BEGIN CONTENT BODY -->
                <div class="page-content">
                    {% block content %}

                    {% endblock %}
                </div>
                <!-- END CONTENT BODY -->
            </div>
            <!-- END CONTENT -->
        </div>
        <!-- END CONTAINER -->
        <!-- BEGIN FOOTER -->
        <div class="page-footer">
            <div class="page-footer-inner"> {% now "Y" %} &copy; Ikhram.com
            </div>
            <div class="scroll-to-top">
                <i class="icon-arrow-up"></i>
            </div>
        </div>
        <!-- END FOOTER -->
        <!--[if lt IE 9]>
<script src="{{ MEDIA_URL }}metronic/global/plugins/respond.min.js"></script>
<script src="{{ MEDIA_URL }}metronic/global/plugins/excanvas.min.js"></script> 
<![endif]-->
        <!-- BEGIN CORE PLUGINS -->
        <script src="{{ MEDIA_URL }}metronic/global/plugins/jquery.min.js" type="text/javascript"></script>
        <script src="{{ MEDIA_URL }}metronic/global/plugins/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
        <script src="{{ MEDIA_URL }}metronic/global/plugins/js.cookie.min.js" type="text/javascript"></script>
        <script src="{{ MEDIA_URL }}metronic/global/plugins/bootstrap-hover-dropdown/bootstrap-hover-dropdown.min.js" type="text/javascript"></script>
        <script src="{{ MEDIA_URL }}metronic/global/plugins/jquery-slimscroll/jquery.slimscroll.min.js" type="text/javascript"></script>
        <script src="{{ MEDIA_URL }}metronic/global/plugins/jquery.blockui.min.js" type="text/javascript"></script>
        <script src="{{ MEDIA_URL }}metronic/global/plugins/uniform/jquery.uniform.min.js" type="text/javascript"></script>
        <script src="{{ MEDIA_URL }}metronic/global/plugins/bootstrap-switch/js/bootstrap-switch.min.js" type="text/javascript"></script>
        <!-- END CORE PLUGINS -->
        <!-- BEGIN PAGE LEVEL PLUGINS -->
        <script src="{{ MEDIA_URL }}metronic/global/plugins/select2/js/select2.full.min.js" type="text/javascript"></script>
        <script src="{{ MEDIA_URL }}metronic/global/plugins/jquery-validation/js/jquery.validate.min.js" type="text/javascript"></script>
        <script src="{{ MEDIA_URL }}metronic/global/plugins/jquery-validation/js/additional-methods.min.js" type="text/javascript"></script>
        <script src="{{ MEDIA_URL }}metronic/global/plugins/bootstrap-wysihtml5/wysihtml5-0.3.0.js" type="text/javascript"></script>
        <script src="{{ MEDIA_URL }}metronic/global/plugins/bootstrap-wysihtml5/bootstrap-wysihtml5.js" type="text/javascript"></script>
        <script src="{{ MEDIA_URL }}metronic/global/plugins/moment.min.js" type="text/javascript"></script>
        <script src="{{ MEDIA_URL }}metronic/global/plugins/bootstrap-daterangepicker/daterangepicker.min.js" type="text/javascript"></script>
        <script src="{{ MEDIA_URL }}metronic/global/plugins/morris/morris.min.js" type="text/javascript"></script>
        <script src="{{ MEDIA_URL }}metronic/global/plugins/morris/raphael-min.js" type="text/javascript"></script>
        <script src="{{ MEDIA_URL }}metronic/global/plugins/counterup/jquery.waypoints.min.js" type="text/javascript"></script>
        <script src="{{ MEDIA_URL }}metronic/global/plugins/counterup/jquery.counterup.min.js" type="text/javascript"></script>
        <script src="{{ MEDIA_URL }}metronic/global/plugins/amcharts/amcharts/amcharts.js" type="text/javascript"></script>
        <script src="{{ MEDIA_URL }}metronic/global/plugins/amcharts/amcharts/serial.js" type="text/javascript"></script>
        <script src="{{ MEDIA_URL }}metronic/global/plugins/amcharts/amcharts/pie.js" type="text/javascript"></script>
        <script src="{{ MEDIA_URL }}metronic/global/plugins/amcharts/amcharts/radar.js" type="text/javascript"></script>
        <script src="{{ MEDIA_URL }}metronic/global/plugins/amcharts/amcharts/themes/light.js" type="text/javascript"></script>
        <script src="{{ MEDIA_URL }}metronic/global/plugins/amcharts/amcharts/themes/patterns.js" type="text/javascript"></script>
        <script src="{{ MEDIA_URL }}metronic/global/plugins/amcharts/amcharts/themes/chalk.js" type="text/javascript"></script>
        <script src="{{ MEDIA_URL }}metronic/global/plugins/jquery-easypiechart/jquery.easypiechart.min.js" type="text/javascript"></script>
        <script src="{{ MEDIA_URL }}metronic/global/plugins/jquery.sparkline.min.js" type="text/javascript"></script>
        <script src="{{ MEDIA_URL }}metronic/global/plugins/bootbox/bootbox.min.js" type="text/javascript"></script>
        <script src="{{ MEDIA_URL }}metronic/global/plugins/bootstrap-datepicker/js/bootstrap-datepicker.min.js" type="text/javascript"></script>
        <script src="{{ MEDIA_URL }}metronic/global/plugins/bootstrap-timepicker/js/bootstrap-timepicker.min.js" type="text/javascript"></script>
        <script src="{{ MEDIA_URL }}metronic/global/plugins/bootstrap-datetimepicker/js/bootstrap-datetimepicker.min.js" type="text/javascript"></script>
        <script src="{{ MEDIA_URL }}metronic/global/plugins/bootstrap-wizard/jquery.bootstrap.wizard.min.js" type="text/javascript"></script>
        <!-- END PAGE LEVEL PLUGINS -->
        <!-- BEGIN THEME GLOBAL SCRIPTS -->
        <script src="{{ MEDIA_URL }}metronic/global/scripts/app.min.js" type="text/javascript"></script>
        <script src="{{ MEDIA_URL }}metronic/pages/scripts/charts-amcharts.js" type="text/javascript"></script>
        <!-- END THEME GLOBAL SCRIPTS -->
        <!-- BEGIN PAGE LEVEL SCRIPTS -->
        <script src="{{ MEDIA_URL }}metronic/pages/scripts/dashboard.js" type="text/javascript"></script>
        <script src="{{ MEDIA_URL }}metronic/global/scripts/datatable.js" type="text/javascript"></script>
        <script src="{{ MEDIA_URL }}metronic/global/plugins/datatables/datatables.min.js" type="text/javascript"></script>
        <script src="{{ MEDIA_URL }}metronic/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.js" type="text/javascript"></script>
        <script src="{{ MEDIA_URL }}metronic/pages/scripts/table-datatables-managed.js" type="text/javascript"></script>
        <script src="{{ MEDIA_URL }}metronic/global/plugins/bootstrap-fileinput/bootstrap-fileinput.js" type="text/javascript"></script>
        <script src="{{ MEDIA_URL }}metronic/pages/scripts/form-validation.js" type="text/javascript"></script>
        <script src="{{ MEDIA_URL }}metronic/pages/scripts/components-date-time-pickers.js" type="text/javascript"></script>
        <script src="{{ MEDIA_URL }}metronic/pages/scripts/form-wizard.js" type="text/javascript"></script>
        <!-- END PAGE LEVEL SCRIPTS -->
        <!-- BEGIN THEME LAYOUT SCRIPTS -->
        <script src="{{ MEDIA_URL }}metronic/layouts/layout/scripts/layout.min.js" type="text/javascript"></script>
        <script src="{{ MEDIA_URL }}metronic/layouts/layout/scripts/demo.min.js" type="text/javascript"></script>
        <script src="{{ MEDIA_URL }}metronic/layouts/global/scripts/quick-sidebar.min.js" type="text/javascript"></script>
        <!-- END THEME LAYOUT SCRIPTS -->

        {% block js %}{% endblock %}
    </body>

</html>