{% extends "base.html" %}
{% load humanize %}

{% block content %}
<!-- BEGIN PAGE HEADER-->
<!-- BEGIN PAGE TITLE-->
<h3 class="page-title"> Customer Services
    <small>Daftar Customer Services</small>
</h3>
<!-- END PAGE TITLE-->
<!-- BEGIN PAGE BAR -->
<div class="page-bar">
    <ul class="page-breadcrumb">
        <li>
            <a href="{% url 'dashboard_index' %}">Home</a>
            <i class="fa fa-angle-right"></i>
        </li>
        <li>
            <span>Customer Services</span>
        </li>
    </ul>
</div>
<!-- END PAGE BAR -->
<!-- END PAGE HEADER-->

<div class="row">
    <div class="col-md-12">
        <!-- BEGIN EXAMPLE TABLE PORTLET-->
        <div class="portlet light bordered">
            <div class="portlet-title">
                <div class="caption font-dark">
                    <i class="icon-settings font-dark"></i>
                    <span class="caption-subject bold uppercase"> Mengelola Customer Services</span>
                </div>
            </div>
            {% if messages %}
                {% for message in messages %}
                    <div class="alert alert-{% if message.tags == 'error' %}danger{% else %}{{ message.tags }}{% endif %} display-none" style="display: block;">
                        <button class="close" data-dismiss="alert"></button> {{ message }}
                    </div>
                {% endfor %}
            {% endif %}
            <div class="portlet-body">
                <div class="table-toolbar">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="btn-group">
                            	<a href="{% url 'new_customer_services' %}" class="btn sbold green">
                            		Add New <i class="fa fa-plus"></i>
                            	</a>
                            </div>
                        </div>
                    </div>
                </div>
                <table class="table table-striped table-bordered table-hover order-column" id="withoutCheckbox1">
                    <thead>
                        <tr>
                            <th>Photo</th>
                            {% if request.user.is_staff %}
                            <th> Biro </th>
                            {% endif %}
                            <th> Nama CS </th>
                            <th> Telepon </th>
                            <th> BBM </th>
                            <th> WA </th>
                            <th> Action </th>
                        </tr>
                    </thead>
                    <tbody>
                    	{% for cs in customer_services %}
                        <tr class="odd gradeX">
                            <td><img src="{{ MEDIA_URL }}{{ cs.photo }}" width="100" height=""></td>
                            {% if request.user.is_staff %}
                            <td>{{ cs.agent.name }}</td>
                            {% endif %}
                            <td>{{ cs.name }}</td>
                            <td>{{ cs.phone }}</td>
                            <td>{{ cs.bbm }} Hari</td>
                            <td>{{ cs.wa }}</td>
                            <td>
                                <a class="btn btn-xs btn-success" href="{% url 'edit_customer_services' id=cs.id %}">
                                    <i class="ace-icon fa fa-pencil bigger-120"></i>
                                </a>
                                <a class="btn btn-xs btn-info" href="{% url 'show_customer_services' id=cs.id %}">
                                    <i class="ace-icon fa fa-eye bigger-120"></i>
                                </a>
                                <a class="btn btn-xs btn-danger" href="{% url 'delete_customer_services' id=cs.id %}" onclick="return confirm('Are you sure?');">
					                <i class="ace-icon fa fa-trash-o bigger-120"></i>
					            </a>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <!-- END EXAMPLE TABLE PORTLET-->
    </div>
</div>
{% endblock %}