{% extends "base.html" %}

{% block content %}
<!-- BEGIN PAGE HEADER-->
<!-- BEGIN PAGE TITLE-->
<h3 class="page-title"> Dashboard
    <small>dashboard & statistics</small>
</h3>
<!-- END PAGE TITLE-->
<!-- BEGIN PAGE BAR -->
<div class="page-bar">
    <ul class="page-breadcrumb">
        <li>
            <a href="{% url 'dashboard_index' %}">Home</a>
            <i class="fa fa-angle-right"></i>
        </li>
        <li>
            <span>Dashboard</span>
        </li>
    </ul>
</div>
<!-- END PAGE BAR -->
<!-- END PAGE HEADER-->
<div class="row widget-row">
    {% if request.user.is_staff %}
        <div class="col-md-4">
            <!-- BEGIN WIDGET THUMB -->
            <div class="widget-thumb widget-bg-color-white text-uppercase margin-bottom-20 bordered">
                <h4 class="widget-thumb-heading">Akses Halaman Biro</h4>
                <div class="widget-thumb-wrap">
                    <i class="widget-thumb-icon bg-green fa fa-book"></i>
                    <div class="widget-thumb-body">
                        <span class="widget-thumb-subtitle">Total</span>
                        <span class="widget-thumb-body-stat" data-counter="counterup" data-value="{{ access_page_agents.count }}">0</span>
                    </div>
                </div>
            </div>
            <!-- END WIDGET THUMB -->
        </div>
        <div class="col-md-4">
            <!-- BEGIN WIDGET THUMB -->
            <div class="widget-thumb widget-bg-color-white text-uppercase margin-bottom-20 bordered">
                <h4 class="widget-thumb-heading">Akses Halaman Promosi</h4>
                <div class="widget-thumb-wrap">
                    <i class="widget-thumb-icon bg-red fa fa-bookmark"></i>
                    <div class="widget-thumb-body">
                        <span class="widget-thumb-subtitle">Total</span>
                        <span class="widget-thumb-body-stat" data-counter="counterup" data-value="{{ access_page_promotions.count }}">0</span>
                    </div>
                </div>
            </div>
            <!-- END WIDGET THUMB -->
        </div>
        <div class="col-md-4">
            <!-- BEGIN WIDGET THUMB -->
            <div class="widget-thumb widget-bg-color-white text-uppercase margin-bottom-20 bordered">
                <h4 class="widget-thumb-heading">Member Biro</h4>
                <div class="widget-thumb-wrap">
                    <i class="widget-thumb-icon bg-purple fa fa-users"></i>
                    <div class="widget-thumb-body">
                        <span class="widget-thumb-subtitle">Total</span>
                        <span class="widget-thumb-body-stat" data-counter="counterup" data-value="{{ member_agents.count }}">0</span>
                    </div>
                </div>
            </div>
            <!-- END WIDGET THUMB -->
        </div>
    {% else %}
        <div class="col-md-4">
            <!-- BEGIN WIDGET THUMB -->
            <div class="widget-thumb widget-bg-color-white text-uppercase margin-bottom-20 bordered">
                <h4 class="widget-thumb-heading">Akses Halaman Biro</h4>
                <div class="widget-thumb-wrap">
                    <i class="widget-thumb-icon bg-green fa fa-book"></i>
                    <div class="widget-thumb-body">
                        <span class="widget-thumb-subtitle">Total</span>
                        <span class="widget-thumb-body-stat" data-counter="counterup" data-value="{{ access_page_agents.count }}">0</span>
                    </div>
                </div>
            </div>
            <!-- END WIDGET THUMB -->
        </div>
        <div class="col-md-4">
            <!-- BEGIN WIDGET THUMB -->
            <div class="widget-thumb widget-bg-color-white text-uppercase margin-bottom-20 bordered">
                <h4 class="widget-thumb-heading">Akses Halaman Promosi</h4>
                <div class="widget-thumb-wrap">
                    <i class="widget-thumb-icon bg-red fa fa-bookmark"></i>
                    <div class="widget-thumb-body">
                        <span class="widget-thumb-subtitle">Total</span>
                        <span class="widget-thumb-body-stat" data-counter="counterup" data-value="{{ access_page_promotions.count }}">0</span>
                    </div>
                </div>
            </div>
            <!-- END WIDGET THUMB -->
        </div>
        <div class="col-md-4">
            <!-- BEGIN WIDGET THUMB -->
            <div class="widget-thumb widget-bg-color-white text-uppercase margin-bottom-20 bordered">
                <h4 class="widget-thumb-heading">Data Leads yang dimiliki</h4>
                <div class="widget-thumb-wrap">
                    <i class="widget-thumb-icon bg-purple fa fa-users"></i>
                    <div class="widget-thumb-body">
                        <span class="widget-thumb-subtitle">Total</span>
                        <span class="widget-thumb-body-stat" data-counter="counterup" data-value="{{ data_leads.count }}">0</span>
                    </div>
                </div>
            </div>
            <!-- END WIDGET THUMB -->
        </div>
    {% endif %}
</div>

<div class="row widget-row">
    <div class="col-md-6">
        <!-- BEGIN WIDGET THUMB -->
        <div class="widget-thumb widget-bg-color-white text-uppercase margin-bottom-20 bordered">
            <h4 class="widget-thumb-heading">Paket Aktif</h4>
            <div class="widget-thumb-wrap">
                <i class="widget-thumb-icon bg-green fa fa-server"></i>
                <div class="widget-thumb-body">
                    <span class="widget-thumb-subtitle">Total</span>
                    <span class="widget-thumb-body-stat" data-counter="counterup" data-value="{{ packet_active.count }}">0</span>
                </div>
            </div>
        </div>
        <!-- END WIDGET THUMB -->
    </div>
    <div class="col-md-6">
        <!-- BEGIN WIDGET THUMB -->
        <div class="widget-thumb widget-bg-color-white text-uppercase margin-bottom-20 bordered">
            <h4 class="widget-thumb-heading">Promosi Aktif</h4>
            <div class="widget-thumb-wrap">
                <i class="widget-thumb-icon bg-red fa fa-cart-plus"></i>
                <div class="widget-thumb-body">
                    <span class="widget-thumb-subtitle">Total</span>
                    <span class="widget-thumb-body-stat" data-counter="counterup" data-value="{{ promotion_active.count }}">0</span>
                </div>
            </div>
        </div>
        <!-- END WIDGET THUMB -->
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <!-- BEGIN ROW -->
        <div class="row">
            <div class="col-md-12">
                <!-- BEGIN CHART PORTLET-->
                <div class="portlet light bordered">
                    <div class="portlet-title">
                        <div class="caption">
                            <i class="icon-bar-chart font-green-haze"></i>
                            <span class="caption-subject bold uppercase font-green-haze"> Akses Halaman Biro</span>
                        </div>
                    </div>
                    <div class="portlet-body">
                        <div id="akses_biro" class="chart" style="height: 500px;"> </div>
                    </div>
                </div>
                <!-- END CHART PORTLET-->
            </div>
        </div>
        <!-- END ROW -->
        <!-- BEGIN ROW -->
        <div class="row">
            <div class="col-md-12">
                <!-- BEGIN CHART PORTLET-->
                <div class="portlet light bordered">
                    <div class="portlet-title">
                        <div class="caption">
                            <i class="icon-bar-chart font-green-haze"></i>
                            <span class="caption-subject bold uppercase font-green-haze"> Akses Halaman Promosi</span>
                        </div>
                    </div>
                    <div class="portlet-body">
                        <div id="akses_promosi" class="chart" style="height: 400px;"> </div>
                    </div>
                </div>
                <!-- END CHART PORTLET-->
            </div>
        </div>
        <!-- END ROW -->
    </div>
</div>
{% endblock %}

{% block js %}
<script type="text/javascript">
    $(document).ready(function(){
        var chart_access_agents = {{ chart_access_agents|safe }}
        var chart_access_promos = {{ chart_access_promos|safe }}
        var chart3 = AmCharts.makeChart("akses_biro", {
            "type": "serial",
            "theme": "light",

            "fontFamily": 'Open Sans',            
            "color":    '#888888',
            
            "pathToImages": "/media/metronic/global/plugins/amcharts/amcharts/images/",

            "dataProvider": chart_access_agents,
            "balloon": {
                "cornerRadius": 6
            },
            "valueAxes": [{
                "position": "left"
            }],
            "startDuration": 1,
            "graphs": [{
                "bullet": "square",
                "bulletBorderAlpha": 1,
                "bulletBorderThickness": 1,
                "fillAlphas": 0.3,
                "fillColorsField": "lineColor",
                "legendValueText": "[[value]]",
                "lineColorField": "lineColor",
                "title": "duration",
                "valueField": "duration"
            }],
            "chartScrollbar": {},
            "chartCursor": {
                "categoryBalloonDateFormat": "YYYY MMM DD",
                "cursorAlpha": 0,
                "zoomable": false
            },
            "dataDateFormat": "YYYY-MM-DD",
            "categoryField": "date"
        });

        $('#akses_biro').closest('.portlet').find('.fullscreen').click(function() {
            chart3.invalidateSize();
        });

        var chart4 = AmCharts.makeChart("akses_promosi", {
            "type": "serial",
            "theme": "light",

            "fontFamily": 'Open Sans',            
            "color":    '#888888',
            
            "pathToImages": "/media/metronic/global/plugins/amcharts/amcharts/images/",

            "dataProvider": chart_access_promos,
            "balloon": {
                "cornerRadius": 6
            },
            "valueAxes": [{
                "position": "left"
            }],
            "startDuration": 1,
            "graphs": [{
                "bullet": "square",
                "bulletBorderAlpha": 1,
                "bulletBorderThickness": 1,
                "fillAlphas": 0.3,
                "fillColorsField": "lineColor",
                "legendValueText": "[[value]]",
                "lineColorField": "lineColor",
                "title": "duration",
                "valueField": "duration"
            }],
            "chartScrollbar": {},
            "chartCursor": {
                "categoryBalloonDateFormat": "YYYY MMM DD",
                "cursorAlpha": 0,
                "zoomable": false
            },
            "dataDateFormat": "YYYY-MM-DD",
            "categoryField": "date"
        });

        $('#akses_promosi').closest('.portlet').find('.fullscreen').click(function() {
            chart4.invalidateSize();
        });
    })
</script>
{% endblock %}