{% extends "base.html" %}

{% block content %}
<!-- BEGIN PAGE HEADER-->
<!-- BEGIN PAGE TITLE-->
<h3 class="page-title"> Data Leads
    <small>Daftar Data Leads</small>
</h3>
<!-- END PAGE TITLE-->
<!-- BEGIN PAGE BAR -->
<div class="page-bar">
    <ul class="page-breadcrumb">
        <li>
            <a href="{% url 'dashboard_index' %}">Home</a>
            <i class="fa fa-angle-right"></i>
        </li>
        <li>
            <span>Data Leads</span>
        </li>
    </ul>
</div>
<!-- END PAGE BAR -->
<!-- END PAGE HEADER-->

<div class="row">
    <div class="col-md-12">
        <!-- BEGIN PROFILE CONTENT -->
        <div class="profile-content">
            <div class="row">
                <div class="col-md-12">
                    <div class="portlet light ">
                        <div class="portlet-title tabbable-line">
                            <div class="caption caption-md">
                                <i class="icon-globe theme-font hide"></i>
                                <span class="caption-subject font-blue-madison bold uppercase">Data Leads</span>
                            </div>
                            <ul class="nav nav-tabs">
                                <li class="active">
                                    <a href="#tab_1_1" data-toggle="tab">Customer Potensial</a>
                                </li>
                                <li>
                                    <a href="#tab_1_2" data-toggle="tab">Customer Biro</a>
                                </li>
                                <li>
                                    <a href="#tab_1_3" data-toggle="tab">Data Dibeli Biro Lain</a>
                                </li>
                            </ul>
                        </div>
                        <div class="portlet-body">
                            <div class="tab-content">
                                <!-- CUSTOMER POTENSIAL TAB -->
                                <div class="tab-pane active" id="tab_1_1">
                                    <table class="table table-striped table-bordered table-hover order-column" id="withoutCheckbox">
                                        <thead>
                                            <tr>
                                                <th> Nama Pengunjung </th>
                                                <th> Lokasi </th>
                                                <th> Waktu Terakhir Akses </th>
                                                <th> Lihat Detail </th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for cp in customer_potentials %}
                                            <tr class="odd gradeX">
                                                <td>{{ cp.web_user.name|title }}</td>
                                                <td>{{ cp.web_user.location }}</td>
                                                <td>{{ cp.last_access }}</td>

                                                <td>
                                                    <a class="btn btn-xs btn-info" href="javascript:;">
                                                        <i class="ace-icon fa fa-eye bigger-120"></i>
                                                    </a>
                                                </td>
                                            </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                                <!-- END CUSTOMER POTENSIAL TAB -->
                                <!-- CUSTOMER BIRO TAB -->
                                <div class="tab-pane" id="tab_1_2">
                                    <table class="table table-striped table-bordered table-hover order-column" id="withoutCheckbox1">
                                        <thead>
                                            <tr>
                                                <th> Nama Pengunjung </th>
                                                <th> Lokasi </th>
                                                <th> Waktu Terakhir Akses </th>
                                                <th> Retur Data </th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for cp in customer_selfs %}
                                            <tr class="odd gradeX">
                                                <td>{{ cp.track_user.web_user.name|title }}</td>
                                                <td>{{ cp.track_user.web_user.location }}</td>
                                                <td>{{ cp.track_user.last_access }}</td>

                                                <td>
                                                    {% if datetime_now > cp.minimum_retur and datetime_now <= cp.maximum_retur %}
                                                    <a href="javascript:;" class="btn btn-xs btn-info" >Retur Data</a>
                                                    {% else %}
                                                    Tidak dapat dikembalikan
                                                    {% endif %}
                                                </td>
                                            </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                                <!-- END CUSTOMER BIRO TAB -->
                                <!-- DATA DIBELI BIRO LAIN TAB -->
                                <div class="tab-pane" id="tab_1_3">
                                    <table class="table table-striped table-bordered table-hover order-column" id="withoutCheckbox2">
                                        <thead>
                                            <tr>
                                                <th> Nama Pengunjung </th>
                                                <th> Lokasi </th>
                                                <th> Waktu Terakhir Akses </th>
                                                <th> Biro Pembeli </th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for cp in customer_other_biro %}
                                            <tr class="odd gradeX">
                                                <td>{{ cp.track_user.web_user.name|title }}</td>
                                                <td>{{ cp.track_user.web_user.location }}</td>
                                                <td>{{ cp.track_user.last_access }}</td>
                                                <td>{{ cp.agent.name }}</td>
                                            </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                                <!-- END DATA DIBELI BIRO LAIN TAB -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- END PROFILE CONTENT -->
    </div>
</div>
{% endblock %}