{% extends "base.html" %}

{% block content %}
<!-- BEGIN PAGE HEADER-->
<!-- BEGIN PAGE TITLE-->
<h3 class="page-title"> Paket Member
    <small>New Paket Member</small>
</h3>
<!-- END PAGE TITLE-->
<!-- BEGIN PAGE BAR -->
<div class="page-bar">
    <ul class="page-breadcrumb">
        <li>
            <a href="{% url 'dashboard_index' %}">Home</a>
            <i class="fa fa-angle-right"></i>
        </li>
        <li>
            <a href="{% url 'paket_member' %}">Daftar Paket Member</a>
            <i class="fa fa-angle-right"></i>
        </li>
        <li>
            <span>New Paket Member</span>
        </li>
    </ul>
</div>
<!-- END PAGE BAR -->
<!-- END PAGE HEADER-->

<div class="row">
    <div class="col-md-12">
        <div class="portlet box green">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-gift"></i>Form New Paket Member </div>
                <div class="tools">
                    <a href="javascript:;" class="collapse" data-original-title="" title=""> </a>
                </div>
            </div>
            <div class="portlet-body form">
                <!-- BEGIN FORM-->
                <form id="new_paket_member" action="{% if action == 'new' %}{% url 'new_paket_member' %}{% else %}{% url 'edit_paket_member' id=paket_member.id %}{% endif %}" class="form-horizontal" method="POST">{% csrf_token %}
                    <div class="form-body">
                        <div class="alert alert-danger display-hide">
                            <button class="close" data-close="alert"></button> You have some form errors. Please check below. </div>
                        <div class="alert alert-success display-hide">
                            <button class="close" data-close="alert"></button> Your form validation is successful! </div>

                        <div class="form-group">
                            <label class="col-md-3 control-label">Nama Paket</label>
                            <div class="col-md-4">
                                <input type="text" id="name" name="name" class="form-control input-circle" value="{{ paket_member.name }}">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3">Logo
                            </label>
                            <div class="col-md-4">
                                <div class="radio-list" data-error-container="#logo_error">
                                    <label>
                                        <input type="radio" id="logo" name="logo" value="1" {% if paket_member.logo == True %}checked{% endif %} /> Ya </label>
                                    <label>
                                        <input type="radio" id="logo" name="logo" value="0" {% if paket_member.logo == False %}checked{% endif %}/> Tidak </label>
                                </div>
                                <div id="logo_error"> </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3">Phone
                            </label>
                            <div class="col-md-4">
                                <div class="radio-list" data-error-container="#phone_error">
                                    <label>
                                        <input type="radio" id="phone" name="phone" value="1" {% if paket_member.phone == True %}checked{% endif %}/> Ya </label>
                                    <label>
                                        <input type="radio" id="phone" name="phone" value="0" {% if paket_member.phone == False %}checked{% endif %}/> Tidak </label>
                                </div>
                                <div id="phone_error"> </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3">Data Pengunjung Lengkap
                            </label>
                            <div class="col-md-4">
                                <div class="radio-list" data-error-container="#detailed_visitor_data_error">
                                    <label>
                                        <input type="radio" id="detailed_visitor_data" name="detailed_visitor_data" value="1" {% if paket_member.detailed_visitor_data == True %}checked{% endif %}/> Ya </label>
                                    <label>
                                        <input type="radio" id="detailed_visitor_data" name="detailed_visitor_data" value="0" {% if paket_member.detailed_visitor_data == False %}checked{% endif %}/> Tidak </label>
                                </div>
                                <div id="detailed_visitor_data_error"> </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3">Promo Unlimited
                            </label>
                            <div class="col-md-4">
                                <div class="radio-list" data-error-container="#promo_unlimited_error">
                                    <label>
                                        <input type="radio" id="promo_unlimited" name="promo_unlimited" value="1" {% if paket_member.promo_unlimited == True %}checked{% endif %}/> Ya </label>
                                    <label>
                                        <input type="radio" id="promo_unlimited" name="promo_unlimited" value="0" {% if paket_member.promo_unlimited == False %}checked{% endif %}/> Tidak (1 Paket)</label>
                                </div>
                                <div id="promo_unlimited_error"> </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3">Garansi Pengunjung per Tahun
                            </label>
                            <div class="col-md-4">
                                <div class="radio-list" data-error-container="#warranty_visitor_per_year_error">
                                    <label>
                                        <input type="radio" id="warranty_visitor_per_year" name="warranty_visitor_per_year" value="1" {% if paket_member.warranty_visitor_per_year == True %}checked{% endif %}/> Ya (2.500 Pengunjung)</label>
                                    <label>
                                        <input type="radio" id="warranty_visitor_per_year" name="warranty_visitor_per_year" value="0" {% if paket_member.warranty_visitor_per_year == False %}checked{% endif %}/> Tidak </label>
                                </div>
                                <div id="warranty_visitor_per_year_error"> </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label">Komisi</label>
                            <div class="col-md-4">
                                <input type="text" id="commission" name="commission" class="form-control input-circle" value="{{ paket_member.commission }}">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label">Diskon Jamaah Minimal</label>
                            <div class="col-md-4">
                                <input type="text" id="minimal_discount" name="minimal_discount" class="form-control input-circle" value="{{ paket_member.minimal_discount }}">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label">Biaya per Tahun</label>
                            <div class="col-md-4">
                                <input type="text" id="cost_per_year" name="cost_per_year" class="form-control input-circle" value="{{ paket_member.cost_per_year }}">
                            </div>
                        </div>
                    </div>
                    <div class="form-actions">
                        <div class="row">
                            <div class="col-md-offset-3 col-md-9">
                                <button type="submit" class="btn btn-circle green">Submit</button>
                                <a href="{% url 'paket_member' %}" class="btn btn-circle grey-salsa btn-outline">Cancel</a>
                            </div>
                        </div>
                    </div>
                </form>
                <!-- END FORM-->
            </div>
        </div>
    </div>
</div>

{% endblock %}