{% extends "base.html" %}

{% block content %}
<!-- BEGIN PAGE HEADER-->
<!-- BEGIN PAGE TITLE-->
<h3 class="page-title"> Paket Biro
    <small>{% if action == 'new' %}New{% else %}Edit{% endif %} Paket Biro</small>
</h3>
<!-- END PAGE TITLE-->
<!-- BEGIN PAGE BAR -->
<div class="page-bar">
    <ul class="page-breadcrumb">
        <li>
            <a href="{% url 'dashboard_index' %}">Home</a>
            <i class="fa fa-angle-right"></i>
        </li>
        <li>
            <a href="{% url 'paket_biro' %}">Daftar Paket Biro</a>
            <i class="fa fa-angle-right"></i>
        </li>
        <li>
            <span>{% if action == 'new' %}New{% else %}Edit{% endif %} Paket Biro</span>
        </li>
    </ul>
</div>
<!-- END PAGE BAR -->
<!-- END PAGE HEADER-->

<div class="row">
    <div class="col-md-12">
        <div class="portlet box green">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-gift"></i>Form {% if action == 'new' %}New{% else %}Edit{% endif %} Paket Biro </div>
                <div class="tools">
                    <a href="javascript:;" class="collapse" data-original-title="" title=""> </a>
                </div>
            </div>
            <div class="portlet-body form">
                <!-- BEGIN FORM-->
                <form id="new_paket_biro" action="{% if action == 'new' %}{% url 'new_paket_biro' %}{% else %}{% url 'edit_paket_biro' id=bp.id %}{% endif %}" class="form-horizontal" method="POST">{% csrf_token %}
                    <div class="form-body">
                        <div class="alert alert-danger display-hide">
                            <button class="close" data-close="alert"></button> You have some form errors. Please check below. </div>
                        <div class="alert alert-success display-hide">
                            <button class="close" data-close="alert"></button> Your form validation is successful! </div>

                        <div class="form-group">
                            <label class="col-md-3 control-label">Biro</label>
                            <div class="col-md-4">
                                <select id="biro_member_id" name="biro_member_id" class="form-control select2me">
                                    <option value="">-- Pilih Biro --</option>
                                    {% for i in member_agents %}
                                    <option value="{{ i.id }}" {% if bp.biro_member_id == i.id %}selected{% endif %}>{{ i.agent.name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label">Paket</label>
                            <div class="col-md-4">
                                <select id="packet_id" name="packet_id" class="form-control select2me">
                                    <option value="">-- Pilih Paket --</option>
                                    {% for i in plan_packages %}
                                    <option value="{{ i.id }}" {% if bp.plan_package_id == i.id %}selected{% endif %}>{{ i.name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label">Tanggal Expired</label>
                            <div class="col-md-4">
                                <div class="input-group date date-picker" data-date-format="dd-mm-yyyy">
                                    <input type="text" class="form-control" id="expired" readonly="" name="expired" value="{{ bp.expired|date:'d-m-Y' }}">
                                    <span class="input-group-btn">
                                        <button class="btn default" type="button">
                                            <i class="fa fa-calendar"></i>
                                        </button>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-actions">
                        <div class="row">
                            <div class="col-md-offset-3 col-md-9">
                                <button type="submit" class="btn btn-circle green">Submit</button>
                                <a href="{% url 'paket_biro' %}" class="btn btn-circle grey-salsa btn-outline">Cancel</a>
                            </div>
                        </div>
                    </div>
                </form>
                <!-- END FORM-->
            </div>
        </div>
    </div>
</div>

{% endblock %}