{% extends "base.html" %}

{% block content %}
<!-- BEGIN PAGE HEADER-->
<!-- BEGIN PAGE TITLE-->
<h3 class="page-title"> Promosi Umroh
    <small>New Promosi Umroh</small>
</h3>
<!-- END PAGE TITLE-->
<!-- BEGIN PAGE BAR -->
<div class="page-bar">
    <ul class="page-breadcrumb">
        <li>
            <a href="{% url 'dashboard_index' %}">Home</a>
            <i class="fa fa-angle-right"></i>
        </li>
        <li>
            <a href="{% url 'promosi_umroh' %}">Promosi Umroh</a>
            <i class="fa fa-angle-right"></i>
        </li>
        <li>
            <span>New Promosi Umroh</span>
        </li>
    </ul>
</div>
<!-- END PAGE BAR -->
<!-- END PAGE HEADER-->

<div class="row">
    <div class="col-md-12">
        <div class="portlet light bordered" id="form_wizard_2">
            <div class="portlet-title">
                <div class="caption">
                    <i class=" icon-layers font-red"></i>
                    <span class="caption-subject font-red bold uppercase"> Form Promosi Umroh
                    </span>
                </div>
            </div>
            {% if messages %}
                {% for message in messages %}
                    <div class="alert alert-{% if message.tags == 'error' %}danger{% else %}{{ message.tags }}{% endif %} display-none" style="display: block;">
                        <button class="close" data-dismiss="alert"></button> {{ message }}
                    </div>
                {% endfor %}
            {% endif %}
            <div class="portlet-body form">
                <form class="form-horizontal" action="{% url 'new_promosi_umroh' %}" id="form_promosi_umroh" method="POST">{% csrf_token %}
                    <div class="form-body">
                        <div class="alert alert-danger display-none">
                            <button class="close" data-dismiss="alert"></button> You have some form errors. Please check below. </div>
                        <div class="alert alert-success display-none">
                            <button class="close" data-dismiss="alert"></button> Your form validation is successful! </div>
                        <h3 class="block">Info Promosi Paket Umroh Anda</h3>
                        {% if packet_id %}
                        <input type="hidden" id="packet_id" name="packet_id" value="{{ packet_id }}">
                        {% else %}
                        <div class="form-group">
                            <label class="control-label col-md-3">Paket
                                <span class="required"> * </span>
                            </label>
                            <div class="col-md-4">
                                <select id="packet_id" name="packet_id" class="form-control select2me">
                                    <option value="">-- Pilih Paket --</option>
                                    {% for i in packets %}
                                    <option value="{{ i.id }}">{{ i.name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        {% endif %}
                        <div class="form-group">
                            <label class="control-label col-md-3">Paket
                                <span class="required"> * </span>
                            </label>
                            <div class="col-md-4">
                                <p class="form-control-static"> {{ packets.name }} </p>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3">Ketersediaan
                                <span class="required"> * </span>
                            </label>
                            <div class="col-md-4">
                                <input type="text" class="form-control" id="availability" name="availability" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3">Nama Tipe Promo
                                <span class="required"> * </span>
                            </label>
                            <div class="col-md-4">
                                <input type="text" class="form-control" id="type_promo" name="type_promo" value="Potongan Harga" readonly />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3">Mata Uang
                                <span class="required"> * </span>
                            </label>
                            <div class="col-md-4">
                                <input type="text" class="form-control" id="promo_kurs" name="promo_kurs" value="{{ packet_kurs }}" readonly />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3">Besar Potongan
                                <span class="required"> * </span>
                            </label>
                            <div class="col-md-4">
                                <input type="text" class="form-control" id="discount" name="discount" />
                            </div>
                        </div>
                        <h3 class="block">Promosi Kamar</h3>
                        <div class="form-group">
                            <label class="control-label col-md-3">&nbsp;
                            </label>
                            <div class="col-md-4">
                                <div class="checkbox-list" data-error-container="#form_2_services_error">
                                    {% for i in room_type_name %}
                                    <label>
                                        <input type="checkbox" id="room_promotion[]" name="room_promotion[]" value="{{ i.room_type_id }}"/> {{ i.room_name }}
                                    </label>
                                    {% endfor %}
                                </div>
                                <div id="form_2_services_error"> </div>
                            </div>
                        </div>
                        <h3 class="block">Jadwal Keberangkatan</h3>
                        {% for i in new_departure_groups %}
                        <div class="form-group">
                            <label class="control-label col-md-3">&nbsp;
                            </label>
                            <div class="col-md-4">
                                <div class="checkbox-list" data-error-container="#form_3_services_error">
                                    <label>
                                        <input type="checkbox" id="date_promotion[]" name="date_promotion[]" value="{{ i.id }}" /> {{ i.departure_date|date:"d-m-Y" }}
                                    </label>
                                </div>
                            </div>
                        </div>
                        <!-- <div class="form-group">
                            <label class="control-label col-md-3">Tag Promo
                            </label>
                            <div class="col-md-4">
                                <input type="text" class="form-control" id="tag_promo[]" name="tag_promo[]" />
                            </div>
                        </div> -->
                        <hr>
                        {% endfor %}
                        <div class="form-group has-error">
                            <label class="control-label col-md-3">&nbsp;
                            </label>
                            <div class="col-md-4">
                                <div id="form_3_services_error"> </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-actions">
                        <div class="row">
                            <div class="col-md-offset-3 col-md-9">
                                <button type="submit" class="btn btn-circle green">Submit</button>
                                <a href="{% url 'promosi_umroh' %}" class="btn btn-circle grey-salsa btn-outline">Cancel</a>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}