{% extends "base.html" %}

{% block content %}
<style type="text/css">
.nicehide {
    display: block !important;
    position: absolute; /*Keep the object's original position*/
    width: 0 !important; /*It should be 0 width. Otherwise the object seems underneath of the editor */
    z-index: -1; /*Send the object to the bottom layer*/
}
</style>
<!-- BEGIN PAGE HEADER-->
<!-- BEGIN PAGE TITLE-->
<h3 class="page-title"> Konfigurasi
    <small>{{ action }} Konfigurasi</small>
</h3>
<!-- END PAGE TITLE-->
<!-- BEGIN PAGE BAR -->
<div class="page-bar">
    <ul class="page-breadcrumb">
        <li>
            <a href="{% url 'dashboard_index' %}">Home</a>
            <i class="fa fa-angle-right"></i>
        </li>
        <li>
            <span>{{ action }} Konfigurasi</span>
        </li>
    </ul>
</div>
<!-- END PAGE BAR -->
<!-- END PAGE HEADER-->

<div class="row">
    <div class="col-md-12">
        <div class="portlet box green">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-gift"></i>Form {{ action }} Konfigurasi </div>
                <div class="tools">
                    <a href="javascript:;" class="collapse" data-original-title="" title=""> </a>
                </div>
            </div>
            <div class="portlet-body form">
                <!-- BEGIN FORM-->
                <form id="konfigurasi" action="{% url 'konfigurasi' %}" class="form-horizontal" method="POST">{% csrf_token %}
                    <div class="form-body">
                        {% if messages %}
                            {% for message in messages %}
                                <div class="alert alert-{% if message.tags == 'error' %}danger{% else %}{{ message.tags }}{% endif %} display-none" style="display: block;">
                                    <button class="close" data-dismiss="alert"></button> {{ message }}
                                </div>
                            {% endfor %}
                        {% endif %}
                        <div class="alert alert-danger display-hide">
                            <button class="close" data-close="alert"></button> You have some form errors. Please check below. </div>
                        <div class="alert alert-success display-hide">
                            <button class="close" data-close="alert"></button> Your form validation is successful! </div>
                        <input type="hidden" id="agent_id" name="agent_id" value="{{ request.user.biromembers_set.all.0.agent_id }}" >
                        <div class="form-group">
                            <label class="col-md-3 control-label">Batas Booking (hari) <span class="required"> * </span></label>
                            <div class="col-md-4">
                                <input type="text" id="last_allowed_book" name="last_allowed_book" class="form-control" value="{{ cp.last_allowed_book }}">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label">Uang DP IDR <span class="required"> * </span></label>
                            <div class="col-md-4">
                                <input type="text" id="dp_idr" name="dp_idr" class="form-control" value="{{ cp.dp_idr }}">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label">Uang DP Dollar <span class="required"> * </span></label>
                            <div class="col-md-4">
                                <input type="text" id="dp_dollar" name="dp_dollar" class="form-control" value="{{ cp.dp_dollar }}">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3">Fasilitas Yang Termasuk
                                <span class="required"> * </span>
                            </label>
                            <div class="col-md-9">
                                <textarea class="wysihtmlIncluded form-control" rows="6" id="included_facility" name="included_facility" data-error-container="#included_facility_error">{{ cp.included_facility }}</textarea>
                                <div id="included_facility_error"> </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3">Fasilitas Yang Tidak Termasuk
                                <span class="required"> * </span>
                            </label>
                            <div class="col-md-9">
                                <textarea class="wysihtmlExcluded form-control" rows="6" id="excluded_facility" name="excluded_facility" data-error-container="#excluded_facility_error">{{ cp.excluded_facility }}</textarea>
                                <div id="excluded_facility_error"> </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3">Syarat dan Ketentuan
                                <span class="required"> * </span>
                            </label>
                            <div class="col-md-9">
                                <textarea class="wysihtmlTermsCondition form-control" rows="6" id="terms_condition" name="terms_condition" data-error-container="#terms_condition_error">{{ cp.terms_condition }}</textarea>
                                <div id="terms_condition_error"> </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-actions">
                        <div class="row">
                            <div class="col-md-offset-3 col-md-9">
                                <button type="submit" class="btn btn-circle green">Submit</button>
                                <!-- <a href="{% url 'member_biro' %}" class="btn btn-circle grey-salsa btn-outline">Cancel</a> -->
                            </div>
                        </div>
                    </div>
                </form>
                <!-- END FORM-->
            </div>
        </div>
    </div>
</div>

{% endblock %}