{% extends "base.html" %}

{% block content %}
<!-- BEGIN PAGE HEADER-->
<!-- BEGIN PAGE TITLE-->
<h3 class="page-title"> Member Biro
    <small>New Member Biro</small>
</h3>
<!-- END PAGE TITLE-->
<!-- BEGIN PAGE BAR -->
<div class="page-bar">
    <ul class="page-breadcrumb">
        <li>
            <a href="{% url 'dashboard_index' %}">Home</a>
            <i class="fa fa-angle-right"></i>
        </li>
        <li>
            <a href="{% url 'member_biro' %}">Daftar Member Biro</a>
            <i class="fa fa-angle-right"></i>
        </li>
        <li>
            <span>New Member Biro</span>
        </li>
    </ul>
</div>
<!-- END PAGE BAR -->
<!-- END PAGE HEADER-->

<div class="row">
    <div class="col-md-12">
        <div class="portlet box green">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-gift"></i>Form New Member Biro </div>
                <div class="tools">
                    <a href="javascript:;" class="collapse" data-original-title="" title=""> </a>
                </div>
            </div>
            <div class="portlet-body form">
                <!-- BEGIN FORM-->
                <form id="new_biro" action="{% url 'new_member_biro' %}" class="form-horizontal" method="POST">{% csrf_token %}
                    <div class="form-body">
                        <div class="alert alert-danger display-hide">
                            <button class="close" data-close="alert"></button> You have some form errors. Please check below. </div>
                        <div class="alert alert-success display-hide">
                            <button class="close" data-close="alert"></button> Your form validation is successful! </div>

                        <div class="form-group">
                            <label class="col-md-3 control-label">Biro</label>
                            <div class="col-md-4">
                                <select id="agent_id" name="agent_id" class="form-control select2me">
                                    <option value="">-- Pilih Biro --</option>
                                    {% for i in agents %}
                                    <option value="{{ i.id }}">{{ i.name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <!-- <div class="form-group">
                            <label class="col-md-3 control-label">Email Login</label>
                            <div class="col-md-4">
                                <input type="text" id="email" name="email" class="form-control input-circle">
                            </div>
                        </div> -->
                        <div class="form-group">
                            <label class="col-md-3 control-label">Password Login</label>
                            <div class="col-md-4">
                                <input type="password" id="password" name="password" class="form-control input-circle">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label">Password Confirmation Login</label>
                            <div class="col-md-4">
                                <input type="password" id="repassword" name="repassword" class="form-control input-circle">
                            </div>
                        </div>
                    </div>
                    <div class="form-actions">
                        <div class="row">
                            <div class="col-md-offset-3 col-md-9">
                                <button type="submit" class="btn btn-circle green">Submit</button>
                                <a href="{% url 'member_biro' %}" class="btn btn-circle grey-salsa btn-outline">Cancel</a>
                            </div>
                        </div>
                    </div>
                </form>
                <!-- END FORM-->
            </div>
        </div>
    </div>
</div>

{% endblock %}