{% extends "base.html" %}

{% block content %}
<style type="text/css">
.nicehide {
    display: block !important;
    position: absolute; /*Keep the object's original position*/
    width: 0 !important; /*It should be 0 width. Otherwise the object seems underneath of the editor */
    z-index: -1; /*Send the object to the bottom layer*/
}
</style>
<!-- BEGIN PAGE HEADER-->
<!-- BEGIN PAGE TITLE-->
<h3 class="page-title"> Paket Umroh
    <small>New Paket Umroh</small>
</h3>
<!-- END PAGE TITLE-->
<!-- BEGIN PAGE BAR -->
<div class="page-bar">
    <ul class="page-breadcrumb">
        <li>
            <a href="{% url 'dashboard_index' %}">Home</a>
            <i class="fa fa-angle-right"></i>
        </li>
        <li>
            <a href="{% url 'paket_umroh' %}">Paket Umroh</a>
            <i class="fa fa-angle-right"></i>
        </li>
        <li>
            <span>New Paket Umroh</span>
        </li>
    </ul>
</div>
<!-- END PAGE BAR -->
<!-- END PAGE HEADER-->

<div class="row">
    <div class="col-md-12">
        <div class="m-heading-1 border-green m-bordered">
            <!-- <h3>Delete Group</h3> -->
            <p>
                <span class="label label-danger">NOTE:</span> <br> <br> 
                &nbsp; 1. Isi Konfigurasi Paket terlebih dahulu <br>
                &nbsp; 2. Untuk pengisian kamar paket sesuaikan dengan ketersedian paket
            </p>
        </div>
        <div class="portlet box green">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-gift"></i>Form New Paket Umroh </div>
                <div class="tools">
                    <a href="javascript:;" class="collapse" data-original-title="" title=""> </a>
                </div>
            </div>
            <div class="portlet-body form">
                <!-- BEGIN FORM-->
                <form class="form-horizontal" action="{% url 'new_paket_umroh' %}" id="form_paket_umroh" method="POST">{% csrf_token %}
                    <div class="form-body">
                        <div class="alert alert-danger display-hide">
                            <button class="close" data-close="alert"></button> You have some form errors. Please check below. </div>
                        <div class="alert alert-success display-hide">
                            <button class="close" data-close="alert"></button> Your form validation is successful! </div>

                        {% if request.user.is_staff %}

                        {% else %}
                        <input type="hidden" id="agent_id" name="agent_id" value="{{ request.user.biromembers_set.all.0.agent_id }}">
                        {% endif %}
                        <div class="form-group">
                            <label class="control-label col-md-3">Nama Paket
                                <span class="required"> * </span>
                            </label>
                            <div class="col-md-4">
                                <input type="text" class="form-control" id="name_paket" name="name_paket" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3">Maskapai
                                <span class="required"> * </span>
                            </label>
                            <div class="col-md-4">
                                <select id="maskapai_id" name="maskapai_id" class="form-control select2me">
                                    <option value="">-- Pilih Maskapai --</option>
                                    {% for i in airlines %}
                                    <option value="{{ i.id }}">{{ i.name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3">Transportasi Lokal
                                <span class="required"> * </span>
                            </label>
                            <div class="col-md-4">
                                <select id="transportation_id" name="transportation_id" class="form-control select2me">
                                    <option value="">-- Pilih Maskapai --</option>
                                    {% for i in transportations %}
                                    <option value="{{ i.id }}">{{ i.name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3">Lama Hari
                                <span class="required"> * </span>
                            </label>
                            <div class="col-md-4">
                                <input type="text" class="form-control" id="day" name="day" />
                            </div>
                        </div>
                        <!-- <div class="form-group">
                            <label class="control-label col-md-3">Batas Booking (hari)
                                <span class="required"> * </span>
                            </label>
                            <div class="col-md-4">
                                <input type="text" class="form-control" id="last_allowed_book" name="last_allowed_book" />
                            </div>
                        </div> -->
                        <div class="form-group">
                            <label class="control-label col-md-3">Kategori Paket
                            </label>
                            <div class="col-md-4">
                                <select id="category_packet" name="category_packet" class="form-control select2me">
                                    <option value="">-- Pilih Kategori --</option>
                                    {% for key, value in PACKET_TYPE %}
                                    <option value="{{ key }}">{{ value }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3">Mata Uang
                                <span class="required"> * </span>
                            </label>
                            <div class="col-md-4">
                                <select id="kurs" name="kurs" class="form-control select2me">
                                    <option value="">-- Pilih Kategori --</option>
                                    {% for key, value in KURS_CHOICES %}
                                    <option value="{{ key }}">{{ value }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <!-- <div class="form-group">
                            <label class="control-label col-md-3">Uang DP IDR
                                <span class="required"> * </span>
                            </label>
                            <div class="col-md-4">
                                <input type="text" class="form-control" id="dp_idr" name="dp_idr" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3">Uang DP Dollar
                                <span class="required"> * </span>
                            </label>
                            <div class="col-md-4">
                                <input type="text" class="form-control" id="dp_dollar" name="dp_dollar" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3">Template Tour
                            </label>
                            <div class="col-md-4">
                                <select id="template_tour_id" name="template_tour_id" class="form-control select2me">
                                    <option value="">-- Pilih Template Tour --</option>
                                    {% for i in template_tours %}
                                    <option value="{{ i.id }}">{{ i.name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3">Template syarat dan ketentuan
                                <span class="required"> * </span>
                            </label>
                            <div class="col-md-4">
                                <select id="template_term_id" name="template_term_id" class="form-control select2me">
                                    <option value="">-- Pilih Template Syarat & ketentuan --</option>
                                    {% for i in template_terms %}
                                    <option value="{{ i.id }}">{{ i.name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div> -->
                        <h3 class="form-section">Kamar Double</h3>
                        <div class="form-group">
                            <label class="control-label col-md-3">Harga
                            </label>
                            <div class="col-md-4">
                                <input type="text" class="form-control" id="double_price" name="double_price" />
                                <span class="help-block"> Sesuaikan dengan mata uang yang dipilih </span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3">Total Kamar
                            </label>
                            <div class="col-md-4">
                                <input type="text" class="form-control" id="double_total_kamar" name="double_total_kamar" />
                                <span class="help-block"> Isi dengan ketersediaan </span>
                            </div>
                        </div>
                        <h3 class="form-section">Kamar Triple</h3>
                        <div class="form-group">
                            <label class="control-label col-md-3">Harga
                            </label>
                            <div class="col-md-4">
                                <input type="text" class="form-control" id="triple_price" name="triple_price" />
                                <span class="help-block"> Sesuaikan dengan mata uang yang dipilih </span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3">Total Kamar
                            </label>
                            <div class="col-md-4">
                                <input type="text" class="form-control" id="triple_total_kamar" name="triple_total_kamar" />
                                <span class="help-block"> Isi dengan ketersediaan </span>
                            </div>
                        </div>
                        <h3 class="form-section">Kamar Quadruple</h3>
                        <div class="form-group">
                            <label class="control-label col-md-3">Harga
                            </label>
                            <div class="col-md-4">
                                <input type="text" class="form-control" id="quadruple_price" name="quadruple_price" />
                                <span class="help-block"> Sesuaikan dengan mata uang yang dipilih </span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3">Total Kamar
                            </label>
                            <div class="col-md-4">
                                <input type="text" class="form-control" id="quadruple_total_kamar" name="quadruple_total_kamar" />
                                <span class="help-block"> Isi dengan ketersediaan </span>
                            </div>
                        </div>
                        <h3 class="block">Fasilitas dan Tidak Termasuk Fasilitas Paket</h3>
                        <div class="form-group">
                            <label class="control-label col-md-3">Fasilitas Yang Termasuk
                                <span class="required"> * </span>
                            </label>
                            <div class="col-md-9">
                                <textarea class="wysihtmlIncluded form-control" rows="6" id="included_facility" name="included_facility" data-error-container="#included_facility_error">{% if config %}{{ config.included_facility }}{% endif %}</textarea>
                                <div id="included_facility_error"> </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3">Fasilitas Yang Tidak Termasuk
                                <span class="required"> * </span>
                            </label>
                            <div class="col-md-9">
                                <textarea class="wysihtmlExcluded form-control" rows="6" id="excluded_facility" name="excluded_facility" data-error-container="#excluded_facility_error">{% if config %}{{ config.excluded_facility }}{% endif %}</textarea>
                                <div id="excluded_facility_error"> </div>
                            </div>
                        </div>
                        <h3 class="block">Jadwal Keberangkatan</h3>
                        <div id="depart">
                            <div class="form-group">
                                <label class="control-label col-md-3">Keberangkatan
                                    <span class="required"> * </span>
                                </label>
                                <div class="col-md-4">
                                    <div class="input-group date date-picker" data-date-format="dd-mm-yyyy">
                                        <input type="text" class="form-control" id="departure_date[]" readonly="" name="departure_date[]">
                                        <span class="input-group-btn">
                                            <button class="btn default" type="button">
                                                <i class="fa fa-calendar"></i>
                                            </button>
                                        </span>
                                        <span class="input-group-btn">
                                            
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <button id="b1" class="btn add-more" type="button">+</button>
                        <h3 class="block">Hotel Mekkah dan Hotel Madinah</h3>
                        <div class="form-group">
                            <label class="control-label col-md-3">Hotel Mekkah
                                <span class="required"> * </span>
                            </label>
                            <div class="col-md-5">
                                <select class="form-control" id="hotel_mecca[]" name="hotel_mecca[]" multiple>
                                    <!-- <option value="Hotel Mekkah 1">Hotel Mekkah 1</option> -->
                                    {% for data in hotel_meccas %}
                                    <option value="{{ data.name }}">{{ data.name }}</option>
                                    {% endfor %}
                                </select>
                                <span class="help-block"> Minimal 1 hotel </span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3">Hotel Madinah
                                <span class="required"> * </span>
                            </label>
                            <div class="col-md-5">
                                <select class="form-control" id="hotel_madinah[]" name="hotel_madinah[]" multiple>
                                    {% for data in hotel_medinahs %}
                                    <option value="{{ data.name }}">{{ data.name }}</option>
                                    {% endfor %}
                                </select>
                                <span class="help-block"> Minimal 1 hotel </span>
                            </div>
                        </div>
                    </div>
                    <div class="form-actions">
                        <div class="row">
                            <div class="col-md-offset-3 col-md-9">
                                <button type="submit" class="btn btn-circle green">Submit</button>
                                <a href="{% url 'paket_umroh' %}" class="btn btn-circle grey-salsa btn-outline">Cancel</a>
                            </div>
                        </div>
                    </div>
                </form>
                <!-- END FORM-->
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block js %}
<script type="text/javascript">

    $(".add-more").click(function(e){
        e.preventDefault();

        var newIn = '<div class="form-group"><label class="control-label col-md-3">Keberangkatan</label><div class="col-md-4"><div class="input-group date date-picker" data-date-format="dd-mm-yyyy"><input type="text" class="form-control" id="departure_date[]" readonly="" name="departure_date[]"><span class="input-group-btn"><button class="btn default" type="button"><i class="fa fa-calendar"></i></button></span>';
        $("#depart").append(newIn);
        $(".date").datepicker();
    });

</script>
{% endblock %}