{% extends "base.html" %}

{% block content %}
<!-- BEGIN PAGE HEADER-->
<!-- BEGIN PAGE TITLE-->
<h3 class="page-title"> Customer Services
    <small>{{ action }} Customer Services</small>
</h3>
<!-- END PAGE TITLE-->
<!-- BEGIN PAGE BAR -->
<div class="page-bar">
    <ul class="page-breadcrumb">
        <li>
            <a href="{% url 'dashboard_index' %}">Home</a>
            <i class="fa fa-angle-right"></i>
        </li>
        <li>
            <a href="{% url 'customer_services' %}">Customer Services</a>
            <i class="fa fa-angle-right"></i>
        </li>
        <li>
            <span>{{ action }} Customer Services</span>
        </li>
    </ul>
</div>
<!-- END PAGE BAR -->
<!-- END PAGE HEADER-->

<div class="row">
    <div class="col-md-12">
        <div class="portlet light bordered">
            <div class="portlet-title">
                <div class="caption">
                    <i class=" icon-layers font-red"></i>
                    <span class="caption-subject font-red bold uppercase"> Form Customer Services
                    </span>
                </div>
            </div>
            <div class="portlet-body form">
                <form class="form-horizontal" action="{% if action == 'New' %}{% url 'new_customer_services' %}{% else %}{% url 'edit_customer_services' id=cs.id %}{% endif %}" id="{% if action == 'New' %}form_cs{% else %}edit_form_cs{% endif %}" method="POST" enctype="multipart/form-data">{% csrf_token %}
                    <div class="form-body">
                        <div class="alert alert-danger display-none">
                            <button class="close" data-dismiss="alert"></button> You have some form errors. Please check below. </div>
                        <div class="alert alert-success display-none">
                            <button class="close" data-dismiss="alert"></button> Your form validation is successful! </div>
                        {% if request.user.is_staff %}
                        <div class="form-group">
                            <label class="control-label col-md-3">Biro
                                <span class="required"> * </span>
                            </label>
                            <div class="col-md-4">
                                <select id="agent_id" name="agent_id" class="form-control select2me">
                                    <option value="">-- Pilih Biro --</option>
                                    {% for i in agents %}
                                    <option value="{{ i.id }}">{{ i.name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        {% else %}
                        <input type="hidden" id="agent_id" name="agent_id" value="{{ request.user.biromembers_set.all.0.agent_id }}">
                        {% endif %}
                        <div class="form-group">
                            <label class="control-label col-md-3">Photo
                                <span class="required"> * </span>
                            </label>
                            <div class="col-md-4">
                                <input type="file" class="form-control" id="photo" name="photo" />
                                {% if action == "Edit" %}
                                <p class="form-control-static"> <img src="{{ MEDIA_URL }}{{ cs.photo }}" width="100"> </p>
                                {% endif %}
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3">Nama
                                <span class="required"> * </span>
                            </label>
                            <div class="col-md-4">
                                <input type="text" class="form-control" id="nama" name="nama" value="{{ cs.name }}" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3">Email
                                <span class="required"> * </span>
                            </label>
                            <div class="col-md-4">
                                <input type="text" class="form-control" id="email" name="email" value="{{ cs.email }}" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3">Telepon
                                <span class="required"> * </span>
                            </label>
                            <div class="col-md-5">
                                <input type="text" class="form-control" id="phone" name="phone" value="{{ cs.phone }}" />
                                <span class="help-block"> Gunakan tanda pemisah ',' (koma) jika lebih dari satu </span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3">BBM
                                <span class="required"> * </span>
                            </label>
                            <div class="col-md-4">
                                <input type="text" class="form-control" id="bbm" name="bbm" value="{{ cs.bbm }}" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3">Whatsapp
                                <span class="required"> * </span>
                            </label>
                            <div class="col-md-4">
                                <input type="text" class="form-control" id="wa" name="wa" value="{{ cs.wa }}" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3">Telepon Kantor
                                <span class="required"> * </span>
                            </label>
                            <div class="col-md-4">
                                <input type="text" class="form-control" id="phone_office" name="phone_office" value="{{ cs.phone_office }}" />
                            </div>
                        </div>
                    </div>
                    <div class="form-actions">
                        <div class="row">
                            <div class="col-md-offset-3 col-md-9">
                                <button type="submit" class="btn btn-circle green">Submit</button>
                                <a href="{% url 'customer_services' %}" class="btn btn-circle grey-salsa btn-outline">Cancel</a>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}