{% extends "base.html" %}

{% block content %}
<!-- BEGIN PAGE HEADER-->
<!-- BEGIN PAGE TITLE-->
<h3 class="page-title"> Member Biro
    <small>Daftar Member Biro</small>
</h3>
<!-- END PAGE TITLE-->
<!-- BEGIN PAGE BAR -->
<div class="page-bar">
    <ul class="page-breadcrumb">
        <li>
            <a href="{% url 'dashboard_index' %}">Home</a>
            <i class="fa fa-angle-right"></i>
        </li>
        <li>
            <span>Member Biro</span>
        </li>
    </ul>
</div>
<!-- END PAGE BAR -->
<!-- END PAGE HEADER-->

<div class="row">
    <div class="col-md-12">
        <div class="m-heading-1 border-green m-bordered">
            <!-- <h3>Delete Group</h3> -->
            <p>
                <span class="label label-danger">NOTE:</span> &nbsp; Jika menghapus member biro, maka paket biro ikut terhapus juga </p>
        </div>
        <!-- BEGIN EXAMPLE TABLE PORTLET-->
        <div class="portlet light bordered">
            <div class="portlet-title">
                <div class="caption font-dark">
                    <i class="icon-settings font-dark"></i>
                    <span class="caption-subject bold uppercase"> Mengelola Member Biro</span>
                </div>
            </div>
            {% if messages %}
                {% for message in messages %}
                    <div class="alert alert-{% if message.tags == 'error' %}danger{% else %}{{ message.tags }}{% endif %} display-none" style="display: block;">
                        <button class="close" data-dismiss="alert"></button> {{ message }}
                    </div>
                {% endfor %}
            {% endif %}
            <div class="portlet-body">
                <div class="table-toolbar">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="btn-group">
                            	<a href="{% url 'new_member_biro' %}" class="btn sbold green">
                            		Add New <i class="fa fa-plus"></i>
                            	</a>
                            </div>
                        </div>
                    </div>
                </div>
                <table class="table table-striped table-bordered table-hover table-checkable order-column" id="sample_1">
                    <thead>
                        <tr>
                            <th>
                                <input type="checkbox" class="group-checkable" data-set="#sample_1 .checkboxes" />
                            </th>
                            <th> Biro </th>
                            <th> Email </th>
                            <th> Phone </th>
                            <th> Action </th>
                        </tr>
                    </thead>
                    <tbody>
                    	{% for biro in member_agents %}
                        <tr class="odd gradeX">
                            <td>
                                <input type="checkbox" class="checkboxes" value="{{ biro.id }}" /> </td>
                            <td> <a href="javascript:;">{{ biro.agent.name }}</a> </td>
                            <td>
                                {{ biro.agent.main_contact_email }}
                            </td>
                            <td class="center"> {{ biro.agent.agent_phone }} </td>

                            <td>
                                <!-- <a class="btn btn-xs btn-success" href="javascript:;" onclick="return confirm('Are you sure?');">
                                    <i class="ace-icon fa fa-pencil bigger-120"></i>
                                </a>
                                <a class="btn btn-xs btn-info" href="javascript:;" onclick="return confirm('Are you sure?');">
                                    <i class="ace-icon fa fa-eye bigger-120"></i>
                                </a> -->
                                <a class="btn btn-xs btn-danger" href="{% url 'delete_member_biro' id=biro.id %}" onclick="return confirm('Are you sure?');">
					                <i class="ace-icon fa fa-trash-o bigger-120"></i>
					            </a>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <!-- END EXAMPLE TABLE PORTLET-->
    </div>
</div>
{% endblock %}