
<div class="page-sidebar navbar-collapse collapse">
    <ul class="page-sidebar-menu  page-header-fixed page-sidebar-menu-hover-submenu " data-keep-expanded="false" data-auto-scroll="true" data-slide-speed="200" style="padding-top: 20px">
        <!-- DOC: To remove the sidebar toggler from the sidebar you just need to completely remove the below "sidebar-toggler-wrapper" LI element -->
        <li class="sidebar-toggler-wrapper hide">
            <!-- BEGIN SIDEBAR TOGGLER BUTTON -->
            <div class="sidebar-toggler"> </div>
            <!-- END SIDEBAR TOGGLER BUTTON -->
        </li>
        <!-- DOC: To remove the search box from the sidebar you just need to completely remove the below "sidebar-search-wrapper" LI element -->
        <li class="sidebar-search-wrapper">
            <!-- BEGIN RESPONSIVE QUICK SEARCH FORM -->
            <!-- DOC: Apply "sidebar-search-bordered" class the below search form to have bordered search box -->
            <!-- DOC: Apply "sidebar-search-bordered sidebar-search-solid" class the below search form to have bordered & solid search box -->
            <!-- <form class="sidebar-search  " action="page_general_search_3.html" method="POST">
                <a href="javascript:;" class="remove">
                    <i class="icon-close"></i>
                </a>
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Search...">
                    <span class="input-group-btn">
                        <a href="javascript:;" class="btn submit">
                            <i class="icon-magnifier"></i>
                        </a>
                    </span>
                </div>
            </form> -->
            <!-- END RESPONSIVE QUICK SEARCH FORM -->
        </li>
        {% if request.user.is_staff %}
        <li class="nav-item start {{ dashboard_active }}">
            <a href="{% url 'dashboard_index' %}" class="nav-link nav-toggle">
                <i class="icon-home"></i>
                <span class="title">Dashboard</span>
                <span class="selected"></span>
            </a>
        </li>
        <li class="nav-item start {{ member_biro_active }}">
            <a href="{% url 'member_biro' %}" class="nav-link nav-toggle">
                <i class="icon-users"></i>
                <span class="title">Member Biro</span>
                <span class="selected"></span>
            </a>
        </li>
        <li class="nav-item start {{ paket_active }}">
            <a href="{% url 'paket_member' %}" class="nav-link nav-toggle">
                <i class="icon-notebook"></i>
                <span class="title">Pilihan Paket Member</span>
                <span class="selected"></span>
            </a>
        </li>
        <li class="nav-item start {{ paket_biro_active }}">
            <a href="{% url 'paket_biro' %}" class="nav-link nav-toggle">
                <i class="icon-briefcase"></i>
                <span class="title">Paket Member Biro</span>
                <span class="selected"></span>
            </a>
        </li>
        <!-- <li class="nav-item start">
            <a href="{% url 'paket_biro' %}" class="nav-link nav-toggle">
                <i class="icon-user"></i>
                <span class="title">Data Leads</span>
                <span class="selected"></span>
            </a>
        </li>
        <li class="nav-item start {{ paket_umroh_active }}">
            <a href="{% url 'paket_umroh' %}" class="nav-link nav-toggle">
                <i class="icon-screen-tablet"></i>
                <span class="title">Paket Umroh Biro</span>
                <span class="selected"></span>
            </a>
        </li>
        <li class="nav-item start {{ promosi_umroh_active }}">
            <a href="{% url 'promosi_umroh' %}" class="nav-link nav-toggle">
                <i class="icon-basket"></i>
                <span class="title">Promosi Umroh Biro</span>
                <span class="selected"></span>
            </a>
        </li> -->
        {% else %}
        <li class="nav-item start {{ dashboard_active }}">
            <a href="{% url 'dashboard_index' %}" class="nav-link nav-toggle">
                <i class="icon-home"></i>
                <span class="title">Dashboard</span>
                <span class="selected"></span>
            </a>
        </li>
        <li class="nav-item start {{ config_active }}">
            <a href="{% url 'konfigurasi' %}" class="nav-link nav-toggle">
                <i class="icon-settings"></i>
                <span class="title">Konfigurasi Paket</span>
                <span class="selected"></span>
            </a>
        </li>
        <li class="nav-item start {{ cs_active }}">
            <a href="{% url 'customer_services' %}" class="nav-link nav-toggle">
                <i class="icon-call-end"></i>
                <span class="title">Customer Services</span>
                <span class="selected"></span>
            </a>
        </li>
        <li class="nav-item start {{ data_lead }}">
            <a href="{% url 'data_leads' %}" class="nav-link nav-toggle">
                <i class="icon-user"></i>
                <span class="title">Data Leads</span>
                <span class="selected"></span>
            </a>
        </li>
        <li class="nav-item start {{ halaman_biro }}">
            <a href="{% url 'akses_halaman_biro' %}" class="nav-link nav-toggle">
                <i class="icon-graph"></i>
                <span class="title">Akses Halaman Biro</span>
                <span class="selected"></span>
            </a>
        </li>
        <li class="nav-item start {{ halaman_promo }}">
            <a href="{% url 'akses_halaman_promo' %}" class="nav-link nav-toggle">
                <i class="icon-equalizer"></i>
                <span class="title">Akses Halaman Promosi</span>
                <span class="selected"></span>
            </a>
        </li>
        <li class="nav-item start {{ paket_umroh_active }}">
            <a href="{% url 'paket_umroh' %}" class="nav-link nav-toggle">
                <i class="icon-screen-tablet"></i>
                <span class="title">Paket Umroh Biro</span>
                <span class="selected"></span>
            </a>
        </li>
        <li class="nav-item start {{ promosi_umroh_active }}">
            <a href="{% url 'promosi_umroh' %}" class="nav-link nav-toggle">
                <i class="icon-basket"></i>
                <span class="title">Promosi Umroh Biro</span>
                <span class="selected"></span>
            </a>
        </li>
        {% endif %}
    </ul>
    <!-- END SIDEBAR MENU -->
    <!-- END SIDEBAR MENU -->
</div>