{% extends "base.html" %}
{% load humanize %}

{% block content %}
<!-- BEGIN PAGE HEADER-->
<!-- BEGIN PAGE TITLE-->
<h3 class="page-title"> Paket Member
    <small>Daftar Paket Member</small>
</h3>
<!-- END PAGE TITLE-->
<!-- BEGIN PAGE BAR -->
<div class="page-bar">
    <ul class="page-breadcrumb">
        <li>
            <a href="{% url 'dashboard_index' %}">Home</a>
            <i class="fa fa-angle-right"></i>
        </li>
        <li>
            <span>Paket Member</span>
        </li>
    </ul>
</div>
<!-- END PAGE BAR -->
<!-- END PAGE HEADER-->

<div class="row">
    <div class="col-md-12">
        <!-- BEGIN EXAMPLE TABLE PORTLET-->
        <div class="portlet light bordered">
            <div class="portlet-title">
                <div class="caption font-dark">
                    <i class="icon-settings font-dark"></i>
                    <span class="caption-subject bold uppercase"> Mengelola Paket Member</span>
                </div>
            </div>
            {% if messages %}
                {% for message in messages %}
                    <div class="alert alert-{% if message.tags == 'error' %}danger{% else %}{{ message.tags }}{% endif %} display-none" style="display: block;">
                        <button class="close" data-dismiss="alert"></button> {{ message }}
                    </div>
                {% endfor %}
            {% endif %}
            <div class="portlet-body">
                <div class="table-toolbar">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="btn-group">
                            	<a href="{% url 'new_paket_member' %}" class="btn sbold green">
                            		Add New <i class="fa fa-plus"></i>
                            	</a>
                            </div>
                        </div>
                    </div>
                </div>
                <table class="table table-striped table-bordered table-hover table-checkable order-column" id="sample_1">
                    <thead>
                        <tr>
                            <th>
                                <input type="checkbox" class="group-checkable" data-set="#sample_1 .checkboxes" />
                            </th>
                            <th> Nama Paket </th>
                            <th> Logo </th>
                            <th> Telepon </th>
                            <th> Biaya per Tahun </th>
                            <th> Action </th>
                        </tr>
                    </thead>
                    <tbody>
                    	{% for packet in packets %}
                        <tr class="odd gradeX">
                            <td>
                                <input type="checkbox" class="checkboxes" value="{{ packet.id }}" /> </td>
                            <td> <a href="javascript:;">{{ packet.name }}</a> </td>
                            <td>
                                {% if packet.logo %}Ya{% else %}Tidak{% endif %}
                            </td>
                            <td>
                                {% if packet.phone %}Ya{% else %}Tidak{% endif %}
                            </td>

                            <td>
                                Rp. {{ packet.cost_per_year|intcomma }}
                            </td>

                            <td>
                                <a class="btn btn-xs btn-success" href="{% url 'edit_paket_member' id=packet.id %}">
                                    <i class="ace-icon fa fa-pencil bigger-120"></i>
                                </a>
                                <a class="btn btn-xs btn-info" href="{% url 'show_paket_member' id=packet.id %}">
                                    <i class="ace-icon fa fa-eye bigger-120"></i>
                                </a>
                                <a class="btn btn-xs btn-danger" href="{% url 'delete_paket_member' id=packet.id %}" onclick="return confirm('Are you sure?');">
					                <i class="ace-icon fa fa-trash-o bigger-120"></i>
					            </a>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <!-- END EXAMPLE TABLE PORTLET-->
    </div>
</div>
{% endblock %}