{% extends "base.html" %}
{% load humanize %}

{% block content %}
<!-- BEGIN PAGE HEADER-->
<!-- BEGIN PAGE TITLE-->
<h3 class="page-title"> Promosi Umroh
    <small>Daftar Promosi Umroh</small>
</h3>
<!-- END PAGE TITLE-->
<!-- BEGIN PAGE BAR -->
<div class="page-bar">
    <ul class="page-breadcrumb">
        <li>
            <a href="{% url 'dashboard_index' %}">Home</a>
            <i class="fa fa-angle-right"></i>
        </li>
        <li>
            <span>Promosi Umroh</span>
        </li>
    </ul>
</div>
<!-- END PAGE BAR -->
<!-- END PAGE HEADER-->

<div class="row">
    <div class="col-md-12">
        <!-- BEGIN EXAMPLE TABLE PORTLET-->
        <div class="portlet light bordered">
            <div class="portlet-title">
                <div class="caption font-dark">
                    <i class="icon-settings font-dark"></i>
                    <span class="caption-subject bold uppercase"> Mengelola Promosi Umroh</span>
                </div>
            </div>
            {% if messages %}
                {% for message in messages %}
                    <div class="alert alert-{% if message.tags == 'error' %}danger{% else %}{{ message.tags }}{% endif %} display-none" style="display: block;">
                        <button class="close" data-dismiss="alert"></button> {{ message }}
                    </div>
                {% endfor %}
            {% endif %}
            <div class="portlet-body">
                <div class="table-toolbar">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="btn-group">
                            </div>
                        </div>
                    </div>
                </div>
                <table class="table table-striped table-bordered table-hover order-column" id="withoutCheckbox1">
                    <thead>
                        <tr>
                            {% if request.user.is_staff %}
                            <th> Biro </th>
                            {% endif %}
                            <th> Nama Paket </th>
                            <th> Keberangkatan </th>
                            <th> Double </th>
                            <th> Triple </th>
                            <th> Quadruple </th>
                            <th> Action </th>
                        </tr>
                    </thead>
                    <tbody>
                    	{% for promo in promotion_umrohs %}
                        <tr class="odd gradeX">
                            {% if request.user.is_staff %}
                            <td>{{ promo.name_agent }}</td>
                            {% endif %}
                            <td>{{ promo.name_packet }}</td>
                            <td>{{ promo.departure_date|date:"d-m-Y" }}</td>
                            <td>{% if promo.double %}{{ promo.kurs }} {{ promo.double|intcomma }}{% else %}-{% endif %}</td>
                            <td>{% if promo.triple %}{{ promo.kurs }} {{ promo.triple|intcomma }}{% else %}-{% endif %}</td>
                            <td>{% if promo.quadruple %}{{ promo.kurs }} {{ promo.quadruple|intcomma }}{% else %}-{% endif %}</td>
                            <td>
                                <a class="btn btn-xs btn-success" href="javascript:;" onclick="return confirm('Are you sure?');">
                                    <i class="ace-icon fa fa-pencil bigger-120"></i>
                                </a>
                                <a class="btn btn-xs btn-info" href="javascript:;" onclick="return confirm('Are you sure?');">
                                    <i class="ace-icon fa fa-eye bigger-120"></i>
                                </a>
                                <a class="btn btn-xs btn-danger" href="javascript:;" onclick="return confirm('Are you sure?');">
					                <i class="ace-icon fa fa-trash-o bigger-120"></i>
					            </a>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <!-- END EXAMPLE TABLE PORTLET-->
    </div>
</div>
{% endblock %}