{% extends "base.html" %}
{% load humanize %}

{% block content %}
<!-- BEGIN PAGE HEADER-->
<!-- BEGIN PAGE TITLE-->
<h3 class="page-title"> Customer Services
    <small>Detil Customer Services</small>
</h3>
<!-- END PAGE TITLE-->
<!-- BEGIN PAGE BAR -->
<div class="page-bar">
    <ul class="page-breadcrumb">
        <li>
            <a href="{% url 'dashboard_index' %}">Home</a>
            <i class="fa fa-angle-right"></i>
        </li>
        <li>
            <a href="{% url 'customer_services' %}">Daftar Customer Services</a>
            <i class="fa fa-angle-right"></i>
        </li>
        <li>
            <span>Detil Customer Services</span>
        </li>
    </ul>
</div>
<!-- END PAGE BAR -->
<!-- END PAGE HEADER-->

<div class="row">
    <div class="col-md-12">
        <div class="portlet light bordered">
            <div class="portlet-title">
                <div class="caption">
                    <i class=" icon-layers font-red"></i>
                    <span class="caption-subject font-red bold uppercase"> Detail Customer Services
                    </span>
                </div>
            </div>
            <div class="portlet-body form">
                <!-- BEGIN FORM-->
                <form id="new_paket_member" action="javascript:;" class="form-horizontal" method="POST">{% csrf_token %}
                    <div class="form-body">

                        <div class="form-group">
                            <label class="col-md-3 control-label">Photo</label>
                            <div class="col-md-4">
                                <p class="form-control-static"> <img src="{{ MEDIA_URL }}{{ cs.photo }}" width="100"> </p>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3">Nama CS
                            </label>
                            <div class="col-md-4">
                                <p class="form-control-static"> {{ cs.name }} </p>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3">Phone
                            </label>
                            <div class="col-md-4">
                                <p class="form-control-static"> {{ cs.phone }} </p>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3">Email
                            </label>
                            <div class="col-md-4">
                                <p class="form-control-static"> {{ cs.email }} </p>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3">BBM
                            </label>
                            <div class="col-md-4">
                                <p class="form-control-static"> {{ cs.bbm }} </p>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3">WhatsApp
                            </label>
                            <div class="col-md-4">
                                <p class="form-control-static"> {{ cs.wa }} </p>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label">Telepon Kantor</label>
                            <div class="col-md-4">
                                <p class="form-control-static">{{ cs.phone_office }}</p>
                            </div>
                        </div>
                    </div>
                    <div class="form-actions">
                        <div class="row">
                            <div class="col-md-offset-3 col-md-9">
                                <a href="{% url 'edit_customer_services' id=cs.id %}" class="btn btn-circle purple">Edit</a>
                                <a href="{% url 'customer_services' %}" class="btn btn-circle grey-salsa btn-outline">Cancel</a>
                            </div>
                        </div>
                    </div>
                </form>
                <!-- END FORM-->
            </div>
        </div>
    </div>
</div>

{% endblock %}