{% extends "base.html" %}
{% load humanize %}

{% block content %}
<!-- BEGIN PAGE HEADER-->
<!-- BEGIN PAGE TITLE-->
<h3 class="page-title"> Paket Member
    <small>Detil Paket Member</small>
</h3>
<!-- END PAGE TITLE-->
<!-- BEGIN PAGE BAR -->
<div class="page-bar">
    <ul class="page-breadcrumb">
        <li>
            <a href="{% url 'dashboard_index' %}">Home</a>
            <i class="fa fa-angle-right"></i>
        </li>
        <li>
            <a href="{% url 'paket_member' %}">Daftar Paket Member</a>
            <i class="fa fa-angle-right"></i>
        </li>
        <li>
            <span>Detil Paket Member</span>
        </li>
    </ul>
</div>
<!-- END PAGE BAR -->
<!-- END PAGE HEADER-->

<div class="row">
    <div class="col-md-12">
        <div class="portlet box green">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-gift"></i>Form Detil Paket Member </div>
                <div class="tools">
                    <a href="javascript:;" class="collapse" data-original-title="" title=""> </a>
                </div>
            </div>
            <div class="portlet-body form">
                <!-- BEGIN FORM-->
                <form id="new_paket_member" action="javascript:;" class="form-horizontal" method="POST">{% csrf_token %}
                    <div class="form-body">
                        <div class="alert alert-danger display-hide">
                            <button class="close" data-close="alert"></button> You have some form errors. Please check below. </div>
                        <div class="alert alert-success display-hide">
                            <button class="close" data-close="alert"></button> Your form validation is successful! </div>

                        <div class="form-group">
                            <label class="col-md-3 control-label">Nama Paket</label>
                            <div class="col-md-4">
                                <p class="form-control-static"> {{ paket_member.name }} </p>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3">Logo
                            </label>
                            <div class="col-md-4">
                                <p class="form-control-static"> {% if paket_member.logo == True %}Ya{% else %}Tidak{% endif %} </p>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3">Phone
                            </label>
                            <div class="col-md-4">
                                <p class="form-control-static"> {% if paket_member.phone == True %}Ya{% else %}Tidak{% endif %} </p>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3">Data Pengunjung Lengkap
                            </label>
                            <div class="col-md-4">
                                <p class="form-control-static"> {% if paket_member.detailed_visitor_data == True %}Ya{% else %}Tidak{% endif %} </p>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3">Promo Unlimited
                            </label>
                            <div class="col-md-4">
                                <p class="form-control-static"> {% if paket_member.promo_unlimited == True %}Ya{% else %}Tidak (1 Paket){% endif %} </p>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3">Garansi Pengunjung per Tahun
                            </label>
                            <div class="col-md-4">
                                <p class="form-control-static"> {% if paket_member.warranty_visitor_per_year == True %}Ya (2.500 Pengunjung){% else %}Tidak{% endif %} </p>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label">Komisi</label>
                            <div class="col-md-4">
                                <p class="form-control-static">$ {{ paket_member.commission }}</p>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label">Diskon Jamaah Minimal</label>
                            <div class="col-md-4">
                                <p class="form-control-static">$ {{ paket_member.minimal_discount }}</p>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label">Biaya per Tahun</label>
                            <div class="col-md-4">
                                <p class="form-control-static">Rp {{ paket_member.cost_per_year|intcomma }}</p>
                            </div>
                        </div>
                    </div>
                    <div class="form-actions">
                        <div class="row">
                            <div class="col-md-offset-3 col-md-9">
                                <a href="{% url 'edit_paket_member' id=paket_member.id %}" class="btn btn-circle purple">Edit</a>
                                <a href="{% url 'paket_member' %}" class="btn btn-circle grey-salsa btn-outline">Cancel</a>
                            </div>
                        </div>
                    </div>
                </form>
                <!-- END FORM-->
            </div>
        </div>
    </div>
</div>

{% endblock %}